pymysql
fastapi
uvicorn
pydantic
sqlmodel
pytest
python-dotenv
httpx
requests
PyJWT
python-jose
fastapi_mail
fpdf
prometheus-fastapi-instrumentator
mysql-connector-python
alembic
google-auth
aiofiles
minio
python-multipart